
#canvas {
    position: fixed;
}

#game {
    z-index: 0;
    opacity: 0;
}

#game-ui {
    top: 0; 
    left: 0;  
    position: relative; 
    z-index: 10;
    color: rgb(204, 204, 204);
}


/* delete later */

#account_pk {
    position: absolute;
    left: 30vw;
}

#sol_available {
    position: absolute;
    left: 30vw;
    top: 10vh;
}

#amount {
    position: absolute;
    left: 30vw;
    top: 80vh;
}

#selected_tile{
    position: absolute;
    left: 5vw;
    top: 40vh;
}

#winning_tile{
    position: absolute;
    left: 75vw;
    top: 40vh;
}

#left{
    top: 100px; 
    left: 100px;  
    position: absolute; 
}

#right{
    top: 100px; 
    left: 200px;  
    position: absolute; 
}

#direction{
    top: 60vh; 
    left: 10vw;  
    position: absolute; 
    font-size: 4rem;
    color: red;
    width: 100px;
    height: 100px;
    background: rgba(73, 189, 221, 0.4);
    clip-path: circle(50% at 50% 50%);
}

#progress_bot {
    position: absolute; 
    height: 20px;
    width: 100px;
    background-color: rgba(152, 152, 152, 0.4);
    top: 10vh;
    left: 5vw;

}

#progress_top {
    height: 100%;
    width: 40px;
    background-color: aqua;
}

#e_progress_bot {
    position: absolute; 
    height: 20px;
    width: 100px;
    background-color: rgba(152, 152, 152, 0.4);
    top: 10vh;
    right: 5vw;

}

#e_progress_top {
    height: 100%;
    width: 40px;
    background-color: rgb(252, 58, 74);
}


/*  */
#ui {
    position: fixed;

    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgb(57,129,94);
    background: linear-gradient(125deg, rgba(0,45,64,1) 0%, rgba(0,48,51,1) 100%);

}

#ui button {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
}

#progress {
    /* position: fixed; */
    z-index: 1;
    top: 60%;
    left: 0%;
}
